<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Music Home Page</title>
    <meta charset="utf-8">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
    <script src="{% static 'music/script.js' %}"></script>
</head>

<body>
    {% include 'music/menu.html' %}

    <div class="header">
        <h1>Albums</h1>
    </div>

    {% if albums %}
    <div>
        {% for album in albums %}

        <div class="album tile">
            <img src="{% static 'music/albumArtTest.jpg' %}" alt="{{ album.title }} album art" height="50" width="50">
            <a href="album/{{ album.title}}">
                <h3>{{ album.title }}</h3>
            </a>
                <p> 
                    {% for artist in album.artists.all %}
                     <a href="http://{{request.get_host}}/music/artists/{{artist.name}}">{{ artist.name }}</a> 
                    {%endfor%}
                </p>
                <p>{{ album.pub_date }}</p>
            {% if album.favorite %}
            <img src="{% static 'music/starFilled.jpg' %}" alt="Filled Star" width="50" height="50">
            {% else %}
            <img src="{% static 'music/star.jpg' %}" alt="Empty Star" width="50" height="50">
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <h2>No Albums are available at this time.</h2>
    </div>
    {% endif %}

    <div class="header">
        <h1>Artists</h1>
    </div>
    {% if artists %}
    <div>
        {% for artist in artists %}
        <a href="artist/{{ artist.name }}">

            <div class="artist tile">
                <img src="{% static 'music/artistProfileTest.jpg' %}" alt="{{ artist }}" height="60" width="60">

                <div>
                    <h3>{{ artist }} </h3>
                    <p>{{ artist.description }}</p>
                </div>
                {% if artist.favorite %}
                <img src="{% static 'music/starFilled.jpg' %}" alt="Filled Star" width="50" height="50">
                {% else %}
                <img src="{% static 'music/star.jpg' %}" alt="Empty Star" width="50" height="50">
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <h2>No Artists are available at this time.</h2>
    </div>
    {% endif %}
    <p>OI</p>
</body>

</html>