<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="{% static 'home/script.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'home/favicon.png' %}" >
</head>

<body>
    {% include 'home/menu.html' %}
    <h1>Hello, World!!</h1>
    <div class="shadowbox">
        <p>eoirfjioerjfeiorjgopiwer jgoierj goiwerj goejgoiejg eojg ioej goipwefg ergejg owfej9jwer goi ejr9g
            jerogipjogjwer pog gg pweorjg oewjgoiwejgioerjgwegjo og eiug wepogijerg oijrg j poigjweroigjre rgpoire ojg
            oiwejg opweijrg poweijrg wpoij ojgoiewj gojg oerjg owerjgo</p>
    </div>

    <div class="shadowbox">
        <p>eoirfjioerjfeiorjgopiwer jgoierj goiwerj goejgoiejg eojg ioej goipwefg ergejg owfej9jwer goi ejr9g
            jerogipjogjwer pog gg pweorjg oewjgoiwejgioerjgwegjo og eiug wepogijerg oijrg j poigjweroigjre rgpoire ojg
            oiwejg opweijrg poweijrg wpoij ojgoiewj gojg oerjg owerjgo</p>
    </div>
    <p>sources:https://www.dreamstime.com/topographic-map-seamless-pattern-vector-background-tile-topographic-map-seamless-pattern-vector-background-lines-levels-high-image189702902
    </p>
</body>

</html>