<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Menu Bar</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="{% static 'home/script.js' %}"></script>
</head>
<body>
    <div id="menu">
        <img src="{% static 'home/logo.jpg' %}" alt="logo" width="50" height="50"></span>
        <p><a href="/">Home</a>  <a href="/about">About Me</a> <a href="/projects">Projects</a> <a href="/socials">Socials</a></p>
    </div>
</body>
</html> 